@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width:1em;
  height: 1em;
}

::-webkit-scrollbar-track{
  background: #efeaa5;
  border-radius: 100vw;
  margin-block:0.5em;
}

::-webkit-scrollbar-thumb{
  background: #f1f8e9;
  border: 0.25em;
  border-radius: 100vw;
}